/XmlSchema-1.4.3.jar
/acegi-security-1.0.7.jar
/activation.jar
/antisamy-1.4.3.jar
/antlr-2.7.6.jar
/aopalliance.jar
/aspectjrt.jar
/bcprov-jdk16-141.jar
/c3p0-0.9.1.jar
/casclient.jar
/cglib-nodep-2.1_3.jar
/cheqs-common.jar
/commons-attributes-api.jar
/commons-beanutils.jar
/commons-cli-1.2.jar
/commons-codec.jar
/commons-collections.jar
/commons-dbcp-1.4.jar
/commons-digester.jar
/commons-discovery-0.2.jar
/commons-fileupload-1.2.jar
/commons-httpclient-3.1.jar
/commons-io-1.4.jar
/commons-lang-2.4.jar
/commons-logging-1.1.1.jar
/commons-logging.jar
/commons-pool-1.6.jar
/commons-validator-1.3.1.jar
/cryptix-jce-provider.jar
/cryptix-message-api.jar
/cryptix-openpgp-provider.jar
/cryptix-pki-api.jar
/dom4j-1.6.1.jar
/dwr.jar
/ehcache-2.7.3.jar
/esapi-2.1.0.jar
/hibernate3.jar
/htmlunit-2.1.jar
/jasypt-1.5.jar
/javamail-crypto-cryptix-openpgp_060622.jar
/javamail-crypto_060622.jar
/javassist-3.4.GA.jar
/jdom.jar
/jmimemagic-0.1.0.jar
/js-1.7R1.jar
/jstl.jar
/jta.jar
/log4j.jar
/mail.jar
/mime-util-2.1.3.jar
/mysql-connector-java-5.1.22-bin.jar
/mysql-connector-java-5.1.6-bin.jar
/nekohtml-1.9.7.jar
/oro.jar
/pd4ml.jar
/pd4ml_tl.jar
/quartz-all-1.6.0.jar
/rome-0.9.jar
/saaj-api.jar
/saaj-impl.jar
/sac-1.3.jar
/slf4j-api-1.6.6.jar
/slf4j-log4j12-1.6.6.jar
/spring-2.5.6.jar
/spring-webmvc-2.5.6.jar
/spring-ws-1.5.9-all.jar
/ss_css2.jar
/standard.jar
/struts-el.jar
/struts.jar
/tika-app-1.4.jar
/velocity-dep-1.4.jar
/wsdl4j-1.6.1.jar
/xalan-2.7.0.jar
/xercesImpl-2.8.1.jar
/xml-apis-1.0.b2.jar
/xmlsec-1.4.1.jar
/xpp3_min.jar
/xstream-1.2.jar
/xws-security-2.0-FCS.jar
