<!DOCTYPE etl SYSTEM "http://scriptella.javaforge.com/dtd/etl.dtd">
<etl>
	<description>
		get data from table and print it
	</description>

	<properties>
		<!-- <include href="etl.properties"/> -->
		<!-- The new value is set only if it was not defined before -->
		mydriver=mysql

	</properties>

	<connection id="mysqll" driver="mysql" url="$jdbc.url" user="$jdbc.username"
		password="$jdbc.password" >
 statement.batchSize=5000
 statement.fetchSize = 40000
		</connection>
	<connection id="java" driver="janino" />


$etlTextForAllTables


<script connection-id="java">

		// System.out.println(com.gj.Util.getCnt());

	</script>

</etl>